@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  border-radius: 0.5rem;
  z-index: 0 !important;
}

.leaflet-control {
  z-index: 1 !important;
}

.leaflet-popup {
  z-index: 1 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 39 !important;
}